body {
  background-color: #e4fc03;
  margin: 0;
}

.frame {
  padding: 50px;
}

.container {
  background-color: black;
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
  box-shadow: 0 0 4px 8px #1f2300;
}

h1 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 3px;
  position: absolute;
  top: calc(50% - 28px);
  left: 50px;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}
